<!-- app/views/spree/checkout -->

<div>
  <br/>
  <br/>
  <center>
    <h3>Please do not reload/refresh,</h3>
    <h4>while we redirect you to the payment gateway</h4>
  </center>

  <div>
    <% payment_service_for @payment.number, Rails.application.secrets.payu_key, amount: @order.total.to_s, service: :payu_in, credential2: Rails.application.secrets.payu_secret, html: { id: 'payment-form' } do |service| %>
      <% service.description @order.number %>
      <% service.customer first_name: @order.billing_address.firstname, :phone => @order.billing_address.phone, :email => @order.email %>
    <% end %>
  </div>
  <script>
    document.getElementById('payment-form').submit();
  </script>
</div>

