<h3>About us </h3>

<p>EatTreat is a community of food lovers, who are here to bond over their mutual love for wine and dine. As people who really enjoy eating, drinking and creating, we’re inviting fellow enthusiasts to break bread with us. Let us indulge in the big and little joys of unearthing delicacies online and off, together.

We want to know about your friend who cooks up a storm, and about your grandmother’s lost pickle recipe. We want to deliver the best coffee beans in the country to you. We want to hang out with you, and maybe even whip up a batch of cute cupcakes. Let’s connect, share and find everything food at EatTreat.

</p>