<% @title="Contact Us" %>
<p>Address: EatTreat Foods Pvt. Ltd.<br/>
A-178, C-3, Saini Bhawan,<br/>
Bhishma Pitama Marg,<br/>
Kotla Mubarakpur,<br/>
New Delhi – 110003<br/>

Email: info@eattreatonline.com
</p> 
