<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/static/terms">Terms And Conditions</a></li>
      <li><a href="/static/privacy">Privacy Policy</a></li>
      <li><a href="/static/about">About Us</a></li> 
      <li> <a href="/static/contact">Contact Us</a></li> 
    </ul>   
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
