<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p>Eattreat</p>
    <a href="spree/shared/terms">Terms And Conditions</a>
    <a href="spree/shared/privacy">Privacy Policy</a>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
