<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
   
     <div class="btn-group" style="left:-2.4%;">
      <button class="btn" onMouseOver="show_sidebar()"  style="   
  color: rgb(60, 28, 13);
display: block;
position: relative;
text-decoration: none;
text-transform: uppercase;
font-size: 18px;
letter-spacing: 0.5px;
font-family: VerlagBook;
background: white;
"> EXPLORE SHOP </button>
    </div>
       <script type="text/javascript">
function show_sidebar()
{
document.getElementById('sidebar').style.display="block";
}

function hide_sidebar()
{
document.getElementById('sidebar').style.display="none";
}
</script>
	<ul id="sidebar" class="dropdown-menu" onMouseOver="show_sidebar()" onMouseOut="hide_sidebar()" data-hook>
  		<%= yield :sidebar %>
	</ul>
   
  </div>
</nav>

